# Server Configuration
PORT=3000

# Telegram Configuration
TELEGRAM_BOT_TOKEN=8635062176:AAHtQkW-yt--teUU4UnDbDcQRbhIK8r1jlc
TELEGRAM_CHAT_ID=6461049894

# Email Configuration (SMTP)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@gmail.com
EMAIL_PASSWORD=your_app_password_here
RECIPIENT_EMAIL=recipient@example.com
